.featuredImage {
  height: 8.6rem;
  width: 100%;
}

.projectLinkContainer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.imageContainer {
  position: relative;

  &:hover {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: var(--image-background-shadow-color);
    }

    .projectLinkContainer {
      display: block;
    }
  }
}

.projectLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 100;

  > *:not(:last-child) {
    margin-right: 0.4em;
  }

  .projectLinkButton {
    background-color: var(--text-color);
    color: var(--button-text-color);

    &:visited {
      background-color: var(--text-color);
      color: var(--button-text-color);
    }
  }
}

.name {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  font-size: var(--text-sm);
  padding: 0.4em 0.2em;
}
