.technologyStackList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  @media (--extra-small-down) {
    justify-content: center;
  }
}

.technologyStack {
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.categoryContainer {
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 30px 1px var(--shadow-color-alpha),
    0 0 20px 1px var(--shadow-color);
  display: flex;
  flex-direction: column;
  min-width: 11.5rem;
  min-height: 7rem;
}

.category {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  padding: 0.2em;
  text-align: center;
}

.icon {
  height: 1em;
  width: 1em;
  border-radius: 2em;
  margin-right: 0.4rem;
  object-fit: cover;
}

.name {
  font-size: var(--text-sm);
  /* padding: 0.4em 0.2em; */
}
